<div ng-controller="Shell as vm">
    <header class="clearfix">
        <ht-top-nav title="vm.title" tagline="vm.tagline"></ht-top-nav>
    </header>
    <section id="content">
        <div id="mainBody" ui-view class="shuffle-animation">Shell</div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <!--<img src="images/busy.gif"/>-->

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
</div>
